<!-- 
Portfolio Grid Section
    {% for item in site.portfolio %}
    <div class="portfolio-cell">
        <img alt="" class="" src="{{ item.img | relative_url }}">
        <a class="portfolio-link" data-keyboard="true" href="{{ item.url | relative_url }}">
            
            <div class="caption" title="{{ item.title }}">
                <div class="caption-content">
                    <i class="fa fa-search-plus fa-3x"></i>
                </div>
            </div>
            
            <p style="text-align: center;">{{ item.title }}</p>
        </a>       
    </div>
    {% endfor %}
-->

<br>
<br>
<div class="portfolio-grid">    
    <div class="portfolio-cell">
        <img alt="" class="" src="/assets/img/portfolio/resize-customerchurn.jpeg">
        <a class="portfolio-link" data-keyboard="true" href="https://github.com/ferids55/Data-Science-Project/tree/main/Customer%20Churn%20Prediction">
            <p style="text-align: center; font-weight: bold;">Customer Churn Prediction</p>
        </a>       
    </div>
    <div class="portfolio-cell">
        <img alt="" class="" src="/assets/img/portfolio/resize-moviesrecommend.jpg">
        <a class="portfolio-link" data-keyboard="true" href="https://github.com/ferids55/Data-Science-Project/tree/main/Movies%20Recommendation">
            <p style="text-align: center; font-weight: bold;">Movies Recommendation</p>
        </a>       
    </div>
    <div class="portfolio-cell">
        <img alt="" class="" src="/assets/img/portfolio/resize-marketbasketanalysisretail.jpg">
        <a class="portfolio-link" data-keyboard="true" href="https://github.com/ferids55/Data-Science-Project/tree/main/Market%20Basket%20Analysis">
            <p style="text-align: center; font-weight: bold;">Market Basket Analysis</p>
        </a>       
    </div>
    <div class="portfolio-cell">
        <img alt="" class="" src="/assets/img/portfolio/resize-covid191.png">
        <a class="portfolio-link" data-keyboard="true" href="https://github.com/ferids55/Data-Science-Project/tree/main/Data%20Analysis%20Covid-19">
            <p style="text-align: center; font-weight: bold;">Data Analysis Covid-19</p>
        </a>       
    </div>
    <div class="portfolio-cell">
        <img alt="" class="" src="/assets/img/portfolio/resize-customersegmentation.jpg">
        <a class="portfolio-link" data-keyboard="true" href="https://github.com/ferids55/Data-Science-Project/tree/main/Customer%20Segmentation">
            <p style="text-align: center; font-weight: bold;">Customer Segmentation</p>
        </a>       
    </div>
    <div class="portfolio-cell">
        <img alt="" class="" src="/assets/img/portfolio/resize-customersegmentation.jpg">
        <a class="portfolio-link" data-keyboard="true" href="https://dqlab.id">
            <p style="text-align: center; font-weight: bold;">Image Classification - CNN</p>
        </a>       
    </div>


</div>
